asttokens
attrs
backcall
beautifulsoup4
bleach
certifi
charset-normalizer
decorator
defusedxml
distlib
docopt
executing
fastjsonschema
filelock
idna
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
jupyterlab_pygments
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
numpy
packaging
pandocfilters
parso
pbr
pexpect
pickleshare
pipreqs
platformdirs
prompt_toolkit
ptyprocess
pure_eval
Pygments
python-dateutil
pyzmq
referencing
requests
rpds-py
six
soupsieve
stack-data
stevedore
tinycss2
tornado
traitlets
urllib3
virtualenv
virtualenv-clone
virtualenvwrapper
wcwidth
webencodings
yarg
